.background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    position: fixed;
    z-index: 90;
    opacity: 1;
    transition: all 3s;
}

.close__loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
    position: fixed;
    z-index: -100;
    opacity: 0;
    transition: all 3s;
}

.background .logo {
    width: 150px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    position: relative;

}

.background .logo .brush1 {
    width: 50px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.background .logo .brush1 .color {
    width: 100%;
    height: 100%;
    background-color: red;
    position: relative;
    z-index: 2;
    animation: moveup 1s ease forwards;
}

.background .logo .brush2 {
    width: 50px;
    height: 220px;
    display: flex;
    align-items: flex-end;
}

.background .logo .brush2 .color2 {
    width: 100%;
    height: 0;
    background-color: red;
    animation: moveup 2s ease forwards;
    animation-delay: 2s;
}

.background .logo .brush3 {
    width: 50px;
    height: 0%;
    position: absolute;
    z-index: 2;
    transform: skew(24.4deg);
    transform-origin: top left;
    background: red;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    animation: moveup 1s ease forwards;
    animation-delay: 1s;
}

/* .lines {
    width: max-content;
    height: 100%;
    display: none;
    justify-content: space-between;
    position: absolute;
    z-index: 0;
}
.lines .line {
    width: 1px;
    height: 100%;
    position: absolute;
    margin-left: 1px;
    background: red;
    animation: margin 2s 0.5s ease forwards;
    animation-delay: 0.2s;
} */

@keyframes moveup {
    from {
        height: 0;
    }

    to {
        height: 220px;
    }
}


/* @keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes moveup {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes margin {
    0% {
        width: 1px;
        margin-right: 1px;
        box-shadow: none;
    }
    100% {
        width: 40px;
        -ms-wrap-margin: var()
    }
} */